﻿


<div>

    <!-- encabezados o titulares  -->
    <br>
    <!-- tablas -->
    <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Usuarios por el Rol {{rol.Nombre}} </h2>
    <br />


    <form class="form-inline ">
        <div class="row">
                           
            <div class="col-sm-12 text-right">
                 <div class="form-group">
                    <a class="btn btn-primary" href="" ng-click="agregarUsuarios()">Agregar</a>
                  </div>
            </div>
        </div>
    </form>




    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td>Nombre Usuario</td>
                <td>Acciones</td>

            </tr>
            <tr ng-repeat="rolUsuario in rolesUsuario">
                <td>{{rolUsuario.Nombre_Completo}}</td>
                <td><a href="" ng-click="eliminarRolUsuario(rolUsuario)">Quitar</a></td>
            </tr>

        </table>

    </div>
    <button class="btn btn-primary pull-right" ng-click="cancelar()"> ← Volver </button>
    <br />


</div> 


