﻿

<div class="container" ng-show="vista==''">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Modificar Expediente</h3>


    </div>
    <br />
    <br />
    <div class="row" ng-show="vista=='dialogo'">
        <div class="col-sm-12">
            <h4>Enviar el Expediente as SERVIU</h4>

            <div class="alert alert-warning" role="alert">
                ¿Está seguro que quiere enviar el Expediente {{expediente.Descripcion}} a SERVIU?.
            </div>


            <div class="text-right">
                <button class="btn btn-primary" ng-click="enviar()">Aceptar</button>
                <button class="btn btn-primary" ng-click="volver()">Volver</button>
            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->



    <div class="body">
        <div class="header">
            <ul class="nav nav-tabs header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" ng-class="{ active: esTab('Descripcion') }" href="" ng-click="estableceTab('Descripcion')">Descripción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-class="{ active: esTab('Documentos') }" ng-click="estableceTab('Documentos')">Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-class="{ active: esTab('Modificar') }" ng-click="estableceTab('Modificar')">Modificar</a>
                </li>

            </ul>

        </div>

        <div ng-show="esTab('Descripcion')">
            <br />

            <form class="form" name="frmExpediente" id="frmExpediente" novalidate>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                            <input class="form-control" ng-model="expediente.Nombre_Estado_Expediente" disabled />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                            <select class="form-control" id="tipoExpediente" name="tipoExpediente" ng-model="expediente.Id_Tipo_Expediente" required>
                                <option ng-repeat="te in tipos" value="{{te.Id_Tipo_Expediente}}">{{te.Nombre_Tipo_Expediente}}</option>
                            </select>
                            <span ng-show="frmExpediente.tipoExpediente.$touched && frmExpediente.tipoExpediente.$error.required">(*) Este es un campo requerido</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="descripcion" class="control-label">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente.Descripcion" maxlength="250">
                            <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                        </div>

                    </div>
                </div>

            </form>

        </div>
        <div ng-show="esTab('Documentos')">
            <br />

            <documentos></documentos>

        </div>

        <div ng-show="esTab('Modificar')">
            <br />

            <tarea-historial></tarea-historial>


            <br />

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{tarea.Nombre}}</div>
                        <div class="panel-body">
                            <form class="form" name="frmTarea" novalidate>

                                <div class="form-group">
                                    <label for="Observaciones" class="control-label">Observaciones</label>
                                    <textarea class="form-control" rows="3" id="Observaciones" name="Observaciones" placeholder="Observaciones" ng-model="tarea.Observaciones" ng-maxlength="250" maxlength="250"></textarea>
                                    <span ng-show="frmTarea.Observaciones.$touched && frmTarea.Observaciones.$error.maxlength">(*) Solo puede ingresar hasta 250 caracteres</span>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <div class="text-right">
        <button class="btn btn-primary" ng-disabled="frmTarea.$invalid || totalDocumentos==0" ng-click="enviar()">
            <i ng-show="enviando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            <span ng-show="!enviando_expediente">Enviar el expediente a SERVIU</span>
            <span ng-show="enviando_expediente">Espere un Momento, Enviando el expediente a SERVIU</span>

        </button>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <a class="btn btn-default pull-right" ng-click="volver()" href="">← Volver a la lista de expedientes </a>

            </div>
        </div>
    </div>
</div>





