﻿<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Registrar Empresa</h3>
        <br />
    </div>

    <form class="form" name="frmEmpresa" id="frmEmpresa" novalidate>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="rut" class="control-label">Rut</label>
                    <input type="text" class="form-control" name="rut" id="rut" ng-model="empresa.RutConDv" disabled>
                    <!--<input type="text" class="form-control" name="rut" ng-model="empresa.RutConDv" gp-rut-validator ng-blur="verificarRut()" ng-disabled="buscandoRut" required>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Razon_Social" class="control-label">Razon Social</label>
                    <input type="text" class="form-control" id="Razon_Social" name="Razon_Social" ng-model="empresa.Razon_Social" maxlength="250" required>
                    <div uib-alert ng-show="frmEmpresa.Razon_Social.$touched && frmEmpresa.Razon_Social.$error.required" ng-class="'alert-danger'">(*) Este es un campo requerido</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Nombre_Fantasia" class="control-label">Nombre Fantasia</label>
                    <input type="text" class="form-control" id="Nombre_Fantasia" name="Nombre_Fantasia" ng-model="empresa.Nombre_Fantasia" maxlength="250" required>
                    <div uib-alert ng-show="frmEmpresa.Nombre_Fantasia.$touched && frmEmpresa.Nombre_Fantasia.$error.required" ng-class="'alert-danger'">(*) Este es un campo requerido</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Email_Particular" class="control-label">Email Particular</label>
                    <input type="email" class="form-control" id="Email_Particular" name="Email_Particular" ng-model="empresa.Email_Particular" maxlength="50" required>
                    <div uib-alert ng-show="frmEmpresa.Email_Particular.$touched && frmEmpresa.Email_Particular.$error.required" ng-class="'alert-danger'">(*) Este es un campo requerido</div>
                    <div uib-alert ng-show="frmEmpresa.Email_Particular.$error.email" ng-class="'alert-danger'">(*)  ¡El correo ingresado no es valido!</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 text-right">
                <a class="btn btn-default" href="#!/empresas">← Volver </a>
                <button class="btn btn-primary" ng-disabled="frmEmpresa.$invalid" ng-click="guardar()"> <i ng-show="guardando_empresa" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_empresa">Registrar</span> <span ng-show="guardando_empresa">Espere un Momento, Guardando Empresa</span> </button>
            </div>
        </div>

    </form>

</div>
