﻿<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Agregar Empresa</h3>
        <br />
    </div>

    <form class="form" name="frmEmpresa" id="frmEmpresa" novalidate>

          <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="rut" class="control-label">Rut</label>
                    <input type="text" class="form-control" name="rut" ng-model="empresa.RutConDv" gp-rut-validator ng-blur="verificarRut()" ng-disabled="buscandoRut" required>
                    <p class="help-block">Por ejemplo 12345678-3</p>

                    <div ng-messages="frmEmpresa.rut.$error" ng-show="frmEmpresa.rut.$touched">

                        <div ng-message="required">

                            <div uib-alert ng-class="'alert-danger'">El rut es requerido</div>

                        </div>

                        <div ng-message="rutInvalid">

                            <div uib-alert ng-class="'alert-danger'">El rut es inválido</div>

                        </div>

                    </div>
                    <!--<div uib-alert ng-show="!registroCivilOk" ng-class="'alert-danger'" close="closeAlert()">{{msg}}</div>-->
                    <div uib-alert ng-show="empresaExiste" ng-class="'alert-danger'" close="closeAlert2()">La empresa ya existe</div>
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Razon_Social" class="control-label">Razon Social</label>
                    <input type="text" class="form-control" id="Razon_Social" name="Razon_Social" ng_model="empresa.Razon_Social" maxlength="250" required>
                    <div uib-alert ng-show="frmEmpresa.Razon_Social.$touched && frmEmpresa.Razon_Social.$error.required" ng-class="'alert-danger'" >(*) Este es un campo requerido</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Nombre_Fantasia" class="control-label">Nombre Fantasia</label>
                    <input type="text" class="form-control" id="Nombre_Fantasia" name="Nombre_Fantasia" ng_model="empresa.Nombre_Fantasia" maxlength="250" required>
                    <div uib-alert ng-show="frmEmpresa.Nombre_Fantasia.$touched && frmEmpresa.Nombre_Fantasia.$error.required" ng-class="'alert-danger'">(*) Este es un campo requerido</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Email_Particular" class="control-label">Email Particular</label>
                    <input type="email" class="form-control" id="Email_Particular" name="Email_Particular" ng_model="empresa.Email_Particular" maxlength="50" required>
                    <div uib-alert ng-show="frmEmpresa.Email_Particular.$touched && frmEmpresa.Email_Particular.$error.required" ng-class="'alert-danger'">(*) Este es un campo requerido</div>
                    <div uib-alert ng-show="frmEmpresa.Email_Particular.$error.email" ng-class="'alert-danger'">(*)  ¡El correo ingresado no es valido!</div>
            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 text-right">
                <a class="btn btn-default" href="#!/empresas">← Volver </a>
                <button class="btn btn-primary" ng-disabled="frmEmpresa.$invalid" ng-click="guardar()"> <i ng-show="guardando_empresa" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_empresa">Guardar</span> <span ng-show="guardando_empresa">Espere un Momento, Guardando Empresa</span> </button>

            </div>
        </div>
    </form>

</div>


<!--<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Agregar Empresa Patrocinante</h3>
<br />

<form class="form" name="frmEmpresa" id="frmEmpresa" novalidate>

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label for="rut" class="control-label">Rut</label>
                <input type="text" class="form-control" id="rut" name="rut" ng_model="empresa.RutConDv" required ng-change="rut_ok()">
                <span ng-show="frmEmpresa.rut.$touched && frmEmpresa.rut.$error.required">(*) Este es un campo requerido</span>
                <span ng-show="!rut_ok()">(*) El rut es erróneo</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="razon_social" class="control-label">Razon Social</label>
        <input type="text" class="form-control" id="razon_social" name="razon_social" ng_model="empresa.Razon_Social" maxlength="250" required>
        <span ng-show="frmEmpresa.razon_social.$touched && frmEmpresa.razon_social.$error.required">(*) Este es un campo requerido</span>

    </div>

    <div class="form-group">
        <label for="nombre_fantasia" class="control-label">Nombre Fantasia</label>
        <input type="text" class="form-control" id="nombre_fantasia" name="nombre_fantasia" ng_model="empresa.Nombre_Fantasia" maxlength="250" required>
        <span ng-show="frmEmpresa.nombre_fantasia.$touched && frmEmpresa.nombre_fantasia.$error.required">(*) Este es un campo requerido</span>
    </div>

    <button class="btn btn-primary" ng-disabled="frmEmpresa.$invalid" ng-click="guardar()"> <i ng-show="guardando_empresa" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_empresa">Guardar</span> <span ng-show="guardando_empresa">Espere un Momento, Guardando Empresa</span> </button>
    <a class="btn btn-primary" href="#!/empresas">← Volver </a>

</form>-->
