﻿<!-- /.alert -->
<div ng-show="vista=='proyectos'">
    <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Proyectos</h2>
    <br />

    <!--<form class="form">
        <div class="form-group">
            <label for="selectEmpresa" class="col-sm-1 control-label">Empresa</label>
            <div class="col-sm-8">
                <select class="form-control" name="selectEmpresa" ng-model="filtro.rutEmpresaPatrocinante" ng-change="buscar()">
                    <option selected value="0">Todas</option>
                    <option ng-repeat="empresa in empresas" value="{{empresa.Rut}}">{{empresa.RazonSocial}}</option>
                </select>
            </div>
            <label for="codigo" class="col-sm-1 control-label">Codigo</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="codigo" placeholder="Código">
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-1 control-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre del Proyecto" />
            </div>
            <label for="codigo" class="col-sm-1 control-label">Codigo</label>
            <div class="col-sm-4">
                <select class="form-control" name="selectRevisorSoc" ng-model="filtro.rutRevisorSocial">
                    <option selected value="0">Todos/as</option>
                    <option ng-repeat="revisor in revisoresSoc" value="{{revisor.RutUsuario}}">{{revisor.NombreUsuario}}</option>
                </select>
            </div>-->

    <form class="form">
        <div class="form-group">
            <label for="tiposubsidio" class="col-sm-1 control-label">Tipo Subsidio</label>
            <select class="form-control col-sm-4" name="selectTipoSubsidio" ng-model="filtro.Id_Tipo_Subsidio">
                <option selected value="0">Todos</option>
                <option ng-repeat="subsidio in subsidios" value="{{subsidio.Id_Tipo_Subsidio}}">{{subsidio.Nombre_Tipo_Subsidio}}</option>
            </select>


        </div>

        <button type="button" class="btn btn-primary" ng-click="buscar()">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>

        <button class="btn btn-primary" ng-click="iniciarAgregar()"> Nuevo Proyecto </button>
    </form>
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Empresa Patrocinante</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Revisor/a</th>
                    <th>Subsidio</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proyecto in proyectos">
                    <td>{{proyecto.Nombre_Empresa}}</td>
                    <td>{{proyecto.Codigo_Proyecto}}</td>
                    <td>{{proyecto.Nombre_Proyecto}}</td>
                    <td>{{proyecto.Nombres_Revisor}}</td>
                    <td>{{proyecto.Nombre_Subsidio}}</td>
                    <td>{{proyecto.Nombre_Estado_Proyecto}}</td>
                    <td class="no-wrap">
                        <a href="#!/expedientes/{{proyecto.Id_Proyecto}}/proyecto" ng-click="verExpedientes(proyecto)"><i class="fa fa-files-o pr-1"></i></a>
                        <a href="" ng-show="soyAdministrador" ng-click="iniciarEditar(proyecto)"><i class="fa fa-pencil pr-1"></i></a>
                        <a href="" ng-show="soyAdministrador" ng-click="iniciarEliminar(proyecto)"><i class="fa fa-trash pr-1"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <nav aria-label="..." ng-show="proyectos.length>0" class="pull-right">
        <ul class="pagination">
            <li ng-class={{claseBtn1}}>
                <a class="page-link" href="" ng-click="cambiaPagina(1)" tabindex="-1">Primera</a>
            </li>
            <li ng-class={{claseBtn2}}>
                <a class="page-link" href="" ng-click="cambiaPagina(paginaActual - 1)" tabindex="-1">Previa</a>
            </li>
            <li ng-class={{claseBtn3}}>
                <a class="page-link" ng-click="cambiaPagina(paginaActual + 1)" href="">Siguiente</a>
            </li>
            <li ng-class={{claseBtn4}}>
                <a class="page-link" href="" ng-click="cambiaPagina(totalPaginas)">Última</a>
            </li>
        </ul>
    </nav>

    <div ng-show="proyectos.length==0" class="alert alert-info">
        No hay proyectos para el filtro aplicado
    </div>

    <div ng-show="1==2" class="row" ng-repeat="proyecto in proyectos">
        <div class="col col-sm-1">{{proyecto.Codigo_Proyecto}}</div>
        <div class="col col-sm-4">{{proyecto.Nombre_Empresa}}</div>
        <div class="col col-sm-3">{{proyecto.Nombre_Proyecto}}</div>
        <div class="col col-sm-2">{{proyecto.Nombres_Revisor}}</div>
        <div class="col col-sm-1">{{proyecto.Nombre_Tipo_Subsidio}}</div>
        <div class="col col-sm-1">{{proyecto.Nombre_Estado_Proyecto}}</div>
    </div>
</div>
      

<agregar-Proyecto ng-show="vista=='agregar'"></agregar-Proyecto>
<editar-Proyecto ng-show="vista=='editar'"></editar-Proyecto>
<eliminar-Proyecto ng-show="vista=='eliminar'"></eliminar-Proyecto>
