﻿.login-box {
    width: 360px;
    margin: 7% auto;
}


.filterable {
    margin-top: 15px;
}

    .filterable .panel-heading .pull-right {
        margin-top: -20px;
}

.help-block {
    font-size: 12px;
}

.celda-normal {
    white-space: normal;
}