﻿
<div ng-controller="documentosCtrl">
   
    
            <form class="form-inline ">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="selectTamPagina" class="control-label">Mostrando:</label>
                            <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            <label for="selectTamPagina" class="control-label">Registros de {{bigTotalItems}}</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            
                            <alert ng-show="subiendoArchivo" class="alert-info"><i  class="fa fa-spinner fa-spin fa-fw fa-2x"></i> &nbsp; Subiendo archivo..</alert>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div ng-show="expediente.Id_Estado_Expediente==1 || expediente.Id_Estado_Expediente==3 || expediente.Id_Expediente ==0">
                            <div class="form-group">
                                <input type="file" class="form-control" id="exampleFormControlFile1" multiple ng-files="getTheFiles($files)" />

                            </div>
                            <div class="form-group">

                                <button id="button-subir" class="btn btn-primary"  ng-click="uploadFiles()" role="button"><i class="fa fa-upload" aria-hidden="true"></i> Subir los documentos elegidos</button>

                               

                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <br />

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Documento</th>
                        <th>Tamaño</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in documentos">
                        <td>{{filtro.pagina.tamacno*(currentPage-1) + $index + 1}}</td>
                        <td>{{d.Nombre_Documento}}</td>
                        <td>{{d.Tamacno}}</td>
                        <td class="text-center">
                            <a href="api/documentos/{{d.Id_Documento}}" role="button" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp; Ver</a>
                            <a ng-show="expediente.Id_Estado_Expediente==1 || expediente.Id_Estado_Expediente==3" href="" ng-click="eliminar(d.Id_Documento)" class="btn btn-default btn-sm"><i class="fa fa-trash text-danger" aria-hidden="true"></i> &nbsp; Eliminar</a>
                        </td>
                    </tr>

                </tbody>
            </table>

            

        
        <div class="row">
                <div class="col-sm-4">
                    <form class="form-inline">
                        <div class="form-group">
                            <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                        </div>

                    </form>
                </div>
                <div class="col-sm-8 ">
                    <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>

                </div>
        </div>
        
    
</div>
