﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Tipo de Subsidios</h3>
<br />

<form class="form-inline ">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="selectTamPagina" class="control-label">Mostrando:</label>
                <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label for="selectTamPagina" class="control-label">Registros</label>
            </div>
        </div>
        <div class="col-sm-8 text-right">
            <!--<div class="form-group">
                <button type="submit" class="btn btn-primary hidden-xs" ng-click="buscar()">Buscar</button>
                <button type="submit" class="btn btn-primary  visible-xs btn-block" ng-click="buscar()">Buscar</button>
            </div>-->
            <div class="form-group">
                <a class="btn btn-primary hidden-xs" href="#!/tipoSubsidios/agregar">Agregar</a>
                <a class="btn btn-primary visible-xs btn-block" href="#!/tipoSubsidios/agregar">Agregar</a>
            </div>
        </div>
    </div>
</form>

<br />

<div class="row">
    <div class="col-sm-12">
                
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Vigente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ts in tipoSubsidios">
                        <td class="text col-sm-4">{{ts.Codigo_Tipo_Subsidio}}</td>
                        <td class="text col-sm-4">{{ts.Nombre_Tipo_Subsidio}}</td>
                        <td ng-show="ts.Vigente==1" class="text col-sm-2">Si</td>
                        <td ng-show="ts.Vigente==0" class="text col-sm-2">No</td>
                        <td class="text col-sm-2" align="center">
                            <a href="#!/tipoSubsidios/{{ts.Id_Tipo_Subsidio}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>



