﻿<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Enviar el Expediente as SERVIU</h4>

            <div class="alert alert-warning" role="alert">
                ¿Está seguro que quiere enviar el Expediente {{expediente.Descripcion}} a SERVIU?.
            </div>


            <div class="text-right">
                <button class="btn btn-default" ng-click="volver()">Volver</button>
                <button class="btn btn-primary" ng-click="enviar()">
                    <i ng-show="enviando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <span ng-show="!enviando_expediente">Aceptar</span>
                    <span ng-show="enviando_expediente">Espere un Momento, Enviando el expediente a SERVIU</span>
                                  

                </button>
               

            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->
</div>
