﻿<div class="container">

    <div class="text-left">

        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">{{titulo}}</h3>

    </div>
    <br />
    <br />
    <div>

        <div class="body">
            <div class="header">
                <ul class="nav nav-tabs header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" ng-class="{ active: esTab('Descripcion') }" href="" ng-click="estableceTab('Descripcion')">Descripción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" ng-class="{ active: esTab('Documentos') }" ng-click="estableceTab('Documentos')">Documentos</a>
                    </li>

                </ul>

            </div>

            <div ng-show="esTab('Descripcion')">
                <br />

                <form class="form" name="frmExpediente" id="frmExpediente" novalidate>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                                <select class="form-control" id="estadoExpediente" name="estadoExpediente" ng-model="expediente.Id_Estado_Expediente" disabled>
                                    <option selected value="">>> Seleccione</option>
                                    <option ng-repeat="est in estados" value="{{est.Id_Estado_Expediente}}">{{est.Nombre_Estado_Expediente}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                                <select class="form-control" id="tipoExpediente" name="tipoExpediente" ng-model="expediente.Id_Tipo_Expediente" disabled>
                                    <option selected value="0">>> Seleccione</option>
                                    <option ng-repeat="te in tipos" value="{{te.Id_Tipo_Expediente}}">{{te.Nombre_Tipo_Expediente}}</option>
                                </select>
                                <span ng-show="frmExpediente.tipoExpediente.$touched && frmExpediente.tipoExpediente.$error.required">(*) Este es un campo requerido</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descripcion" class="control-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente.Descripcion" maxlength="250" ng-blur="guardar()" required>
                                <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                            </div>
                        </div>
                    </div>

                </form>

                <!--  <img ng-src={{dato}} alt="Description" width="50" height="50"/>-->

                <br />

            </div>
            <div ng-show="esTab('Documentos')">
                <br />

                <documentos></documentos>


            </div>
            <div class="pull-right">
                <button ng-disabled="totalDocumentos==0" ng-show="(expediente.Id_Estado_Expediente==1 || expediente.Id_Estado_Expediente==3 )" class="btn btn-primary" ng-click="enviar()"> Enviar el Expediente  a SERVIU</button>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <a class="btn btn-default pull-right" ng-click="volver()" href="">← Volver a la lista de expedientes </a>

            </div>
        </div>
    </div>
</div>